@namespace GShock.Pages
@page "/"
<h1>GSHOCK</h1>
<h2>@output</h2>
<button @onclick=ActivateAction0>@watch.GetActions()[0]</button>
<button @onclick=ActivateAction1>@watch.GetActions()[1]</button>

<button @onclick=watch.CycleMode>Cycle mode</button>



@code {
    private Watch watch;
    private string output;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        watch = DefaultWatchBuilder.Build();
        output = watch.ToString();
        watch.dataChanged += UpdateOutput;
    }

    private void UpdateOutput()
    {
        output = watch.ToString();
        InvokeAsync(StateHasChanged);
    }

    private void ActivateAction0()
    {
        watch.ActivateAction(0);
    }
    private void ActivateAction1()
    {
        watch.ActivateAction(1);
    }
    private void ActivateAction2()
    {
        watch.ActivateAction(2);
    }
}
