@page "/"
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@namespace GShock.Pages

<html>
    <head>
        <base href="~/" />
        <link href="GShock.styles.css" rel="stylesheet">
    </head>
    <body style="background-color:#8fbc94">
        <component type="typeof(App)"
                   render-mode="ServerPrerendered" />
        <script src="_framework/blazor.server.js"></script>
    </body>
</html>