@namespace GShock.Pages
@page "/"
<div style="text-align: center;">
    <h1 style="font-family: 'Arial Rounded MT'; font-size:5rem; color: #548687;">GSHOCK</h1>
    <h2 class="output" style="font-size:20px">Mode: @_watchUI.WatchToShow.CurrentMode.Name</h2>
    <br />
    @_modeOutput
    <br /><br /><br />
    <button class="button-cycle" @onclick=CycleMode>Cycle mode</button>
    <br />

</div>




@code {
    public List<IButton> selectedModeButtons;
    private RenderFragment _modeOutput;
    private WatchUI _watchUI;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        var bootstrapper = new WatchUIBootstrapper();
        _watchUI = bootstrapper.Bootstrap();
        _watchUI.OutputHasChanged += UpdateOutput;
        _modeOutput = _watchUI.Output;

    }

    private void UpdateOutput()
    {
        InvokeAsync(StateHasChanged);
    }

    private void CycleMode()
    {
        _watchUI.CycleMode();
        _modeOutput = _watchUI.Output;
    }
}
