@foreach (var button in Buttons)
{
    <button class="button-feature" @onmousedown=button.Press @onmouseup=button.Release>@button.Title</button><div> </div>
}

@code {
    [Parameter]
    public List<IButton> Buttons { get; set; }
}
